.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    overflow: hidden;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 99%, 0% 84%);
}

.scrolling-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/saaz-hero-background.jpg');
    background-size: cover;
    background-position: center 70%;
    background-attachment: fixed;
    z-index: -1;
    filter: brightness(0.6) blur(2px);
}

.hero-content {
    padding: 10rem 5rem 3rem 5rem;
    border-radius: 10px;
    animation: fadeInUp 1s ease-out;
}

.hero-content h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 10rem;
    color: var(--accent-color);
    text-shadow: 0 0 20px var(--accent-color), 0 0 30px var(--accent-color);
    margin-bottom: 1.25rem;
    line-height: 1;
    animation: glow 2s ease-in-out infinite alternate;
}

.hero-content p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    background-color: rgba(0, 255, 200, 0.1);
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 255, 200, 0.5);
    display: inline-block;
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px var(--accent-color), 0 0 30px var(--accent-color);
    }
    to {
        text-shadow: 0 0 30px var(--accent-color), 0 0 40px var(--accent-color), 0 0 50px var(--accent-color);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 5rem;
    }

    .hero-content p {
        font-size: 1.2rem;
    }
}
